input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  vertical-align: top;
}


#list {
    display: none;
}

.label-text {
  display: inline-block;
  width: 200px;
  word-break: break-all;
}






* {
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

body {
  font-family: "PT Serif", serif;
  margin: 0;
}

h3 {
  display: inline;
}

​

.dropdown {
  float: left;
}

.column {
  float: left;
  background-color: transparent !important;
}

.sidebar {
  width: 20%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main {
  width: 80%;
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    width: 100%;
    float: top;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .main {
         float: bottom;
         width: 100%;
  }
}


br {
   display: block;
   margin: 1px 0;
}
/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}
